<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>me</title>
        <link rel="stylesheet" href="css/index.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        {{ template "navbar" . }}
        <main class="flex flex-col items-center">
            <article>
                <section>
                    <p>{{ index . "First" }} {{ index . "Last" }}</p>
                    <p>{{ index . "Email" }}</p>
                </section>
                <section class="flex justify-center gap-2">
                    <div>
                        {{ if eq .CirclesCreatedLen 0 }}
                        <p>you have not created any circles</p>
                        {{ else }}
                        <p>created circles</p>
                        <ul>
                            {{ range .CirclesCreated }}
                                <li>
                                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                        <a
                                            href="/circle/{{ . }}"
                                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                        >{{ . }}</a>
                                    </div>
                                </li>
                                {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                    <div id="posts">
                        {{ if eq .PostsLen 0 }}
                        <p>no posts</p>
                        {{ else }}
                        <p>my posts</p>
                        <ul>
                            {{ range .Posts }}
                            <li>
                                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                    <a
                                        href="/circle/{{ .Circle }}"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                        >{{ .Circle }}</a>
                                    <p>id: {{ .ID }}</p>
                                    <p>timestamp: {{ .TimeStamp }}</p>
                                    <p>description: {{ .Description }}</p>
                                    <button
                                        hx-delete="/post/delete/{{ .ID }}"
                                        hx-target="#posts"
                                        class="flex bg-red-200 px-3 py-2 rounded-md"
                                        >delete</button>
                                </div>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                </section>
            </article>
        </main>
    </body>
</html>
